<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./dist/app.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
            <div class="container">
                <div class="container-margin-center">
                    <div class="container-nav">
                       <div class="container-logo">
                           <img :src="'./images/'+iconLogoNav+'.png'" alt="">   
                       </div>
                       <div class="container-link">
                           <ul>
                               <li v-for='element in linkNav'><p>{{element}}</p></li>
                               <button>GET IN TOUCH NOW</button>
                           </ul>
                       </div>
                    </div>
                    <div class="container-header">
                        <div class="container-box">
                            <h1>SEM Campaigns Made Simple With Avada</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique labore illo molestiae animi dignissimos vitae dolore ipsum,</p>
                            <div class="box-button">
                                <button class="one">BUY AVADA NOW</button>
                                <button class= "two">CONTACT US</button>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>        
        <main>
            <div class="containere-main-box-one">
                <div class="main-box-center">
                    <div class="main-box-one">
                        <div class="box-text-center-main">
                            <h1>Meet The New Agency SEO Template From The Avada Team</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis at impedit ipsa dolor accusamus!</p>
                        </div>
                    </div>
                    <div class="main-box-two">
                        <div v-for="element in mainMiniBox"class="main-mini-box">
                            <div>
                                <i :class="element.icon"></i>
                                <h1>{{element.title}}</h1>
                                <p>{{element.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="main-box-three">
                        <!-- box image -->
                    </div>
                </div>
            </div>
            <div class="container-main-box-two">
                <div class="main-box-center">
                    <div class="box-text-center-main-two">
                        <h1>See Our Top Notch Service</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, labore. Tempora eligendi odit illum voluptatibus vitae aperiam perferendis exercitationem voluptate architecto.</p>
                    </div>    
                </div>
                <div class="main-box-center-2">
                    <div v-for='cards in mainBoxCar2'class="main-card">
                        <i :class="cards.icon"></i>
                        <h1>{{cards.title}}</h1>
                        <p>{{cards.text}}</p>
                        <a href="">Read More > </a>
                    </div>
                </div>
            </div>
            <div class="main-box-center-3">
                <div class="main-box-center">
                    <div class="main-box-text">
                        <div class="text">
                            <h1>Our Work</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis placeat voluptates animi amet neque ea tenetur</p>
                        </div>
                    </div>
                    <div class="main-box-slide-img">
                        <div class="slide-main-one">
                            <div v-for='img in sliderOne'class="slide-box">
                                <img :src="'./images/'+img.images+'.jpg'" alt="">
                            </div>
                        </div>
                        <div class="slide-main-two">
                            <div v-for='img in sliderTwo'class="slide-box">
                                <img :src="'./images/'+img.images+'.jpg'" alt="">  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-button-center">
                    <button>VIEW OUR WORK</button>
                </div>
            </div>
            <div class="main-box-center-4">
                <div class="main-box-center">
                    <div class="main-box-text">
                        <div class="text">
                            <h1>Our Plans</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis placeat voluptates animi amet neque ea tenetur</p>
                        </div>
                    </div>
                    <div class="box-card-main">
                        <div v-for='cdr in cardsOurPlans'class="box-card-2">
                            <h3>{{cdr.title}}</h3>
                            <span class="paje-1">$
                                <h2>{{cdr.price}}</h2>
                               <span class="paje-2">
                                <p>99</p>
                                <p>monthly</p>
                               </span>
                            </span>
                            <p>{{cdr.proj}}</p>
                            <p>{{cdr.storege}}</p>
                            <p>{{cdr.UN}}</p>
                            <button>START TODAY</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-box-center-5">
                <div class="main-box-center">
                    <div class="main-box-text">
                        <div class="text">
                            <h1>Our News</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis placeat voluptates animi amet neque ea tenetur</p>
                        </div>
                    </div>
                    <div class="box-card">
                        <div v-for='element in cardsOurNews'class="card">
                            <div class="box-img">
                                <img :src="'./images/'+element.img+'.jpg'" alt="">
                            </div>
                            <h4>{{element.title}}</h4>
                            <p>{{element.text}}</p>
                        </div>
                    </div>
                </div>
                <div class="main-button-center">
                    <button>GO TO NEWS</button>
                </div>  
            </div>
            <div class="main-box-center-6">
                <div class="main-box-center">
                    <div class="main-box-text">
                        <div class="text">
                            <h1>What Our Client Say</h1>
                            <img :src="'images/'+imgTestimonial+'.jpg'" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis placeat voluptates animi amet neque ea tenetur</p>
                            <p>Luis Desalvo CRO TECH</p>
                        </div>
                    </div>
                    <div class="container-slider">
                        <div v-for='element in mainTestimonialSlider'class="box-img-s">
                            <img :src="'./images/'+element.imgTestimonial+'.png'" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-box-center-7">
                <div class="main-box-center">
                    <div class="main-box-text">
                        <div class="text">
                            <h1>Start Your Free Consultation</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis placeat voluptates animi amet neque ea tenetur</p>
                            <button>CONTACET US NOW</button>

                        </div>
                    </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-container-center">
                    <div class="footer-logo">
                        <img :src="'./images/'+iconLogoFooter+'.png'" alt="">
                    </div>
                    <div class="footer-nav">
                        <ul>
                            <li v-for='element in footerLink'><p>{{element}}</p></li>
                        </ul>
                    </div>
                    <div class="footer-copy">
                        <ul>
                            <li v-for='element in copy'><p>{{element}}</p></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li v-for='element in footerSocial'>
                                <i :class="element.icon"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
<!-- fine del contenitore di vue -->
    </div>
    <script src="./js/main.js"></script>
</body>
</html>