//colelgamento degli altri file
@import"colors";
@import"variables";
//color
*{
   @include body-margin;
}
.container{
    min-width: 1200px;
    background-image: url($backGraundHeader);
    background-size: cover;
    background-repeat: no-repeat;
    &-margin-center{
        @include container-center;
      
       .container-nav{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
           .container-logo{

           }
           .container-link{
               @include flexA-Center ;
               ul{
                   cursor: pointer;
                   color: $ColorTextW;
                   display: flex;
                   list-style: none;
                   margin: 0 15px;
                   li{
                       margin: 0 20px;
                       p:hover{
                           color: $HoverOrange;
                       }
                   }
                   button{
                    @include buttonOrange;
                   }
               }
           }
       }
    }
    .container-header{
        height: 739px;
        @include flexA-Center ;
        .container-box{
            width: 35%;
            color: $ColorTextW;
                h1{
                   
                }
                p{
                    margin: 20px 0
                }
            .box-button{
                margin: 30px 0;
                .one{
                    @include buttonOrange;
                    margin-right: 15px;
                }
                .two{
                    @include buttonPurpol;
                }
            }
        }
    }
}
.containere-main-box-one{
    background-color: $Back-G-main-Color;
    .main-box-center{
        @include container-center;
        .main-box-one{
            @include flexj-Center;
            .box-text-center-main{
                width: 43%;
                text-align: center;
                padding-top: 100px;
                h1{
                    margin-bottom: 25px;
                }
                p{

                }
            }
        }
        .main-box-two{
            display: flex;
            margin: 35px;
            padding: 35px;
            .main-mini-box{
                height: 300px;
                width: 300px;
                background-color:white;
                margin: 0 25px;
                @include flexj-a-Center ;
                text-align: center;
                i{
                    font-size: 20px;
                    color: $HoverOrange;
                }
                h1{
                    margin: 18px;
                }
                p{

                }
            }       
        }
        .main-box-three{
            height: 500px;
            background-image: url($backGraund-Main-box);          
        }      
    }
}
.container-main-box-two{
    background-color: #051745;
    background-image: url($elementMainBKG);
    background-size: cover;
    .main-box-center{
        @include container-center;
        @include flexj-Center;
        .box-text-center-main-two{
            color: $ColorTextW;
            width: 53%;
            text-align: center;
            padding: 60px;           
        }
    }
    .main-box-center-2{
        @include container-center;
        @include flexj-a-Center ;
        padding: 25px;
        .main-card{
            width: 250px;
           background-color: #1a236c;
            margin: 0 17px;
            text-align: center;
            padding: 15px;
            margin-bottom: 150px;
            h1,p{
                color: $ColorTextW;
                margin-bottom: 25px;
            }
            i,a{
                color: $HoverOrange;
                margin: 37px;
            }
        }
    }
}
.main-box-center-3{
    .main-box-center{
        @include container-center;
        padding-bottom: 40px;
        .main-box-text{
            @include flexj-Center;
            .text{
                text-align: center;
                width: 41%;
                padding: 50px;
            }
        }
        .main-box-slide-img{
            .slide-main-one{
                @include flexj-Center;
                .slide-box{
                    height: 400px;
                    width: 400px;   
                    margin: 5px 5px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .slide-main-two{
                @include flexj-Center;
                .slide-box{
                    height: 400px;
                    width: 400px;
                    margin: 5px 5px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
    .main-button-center{
        @include flexj-a-Center ;
        height: 100px;
        button{
            @include buttonOrange;
        }
    }
}
.main-box-center-4{
    background-image: url($elementMainBKG2);
    background-size: cover;
    .main-box-center{
        @include container-center;
        .main-box-text{
            @include flexj-Center;
            .text{
                text-align: center;
                width: 41%;
                padding: 50px;
                color: $ColorTextW;
            }
        }
        .box-card-main{
            padding: 50px;
            @include flexj-Center;
            .box-card-2{
                width: 220px;
                background-color: white;
                margin: 0 10px;
                text-align: center;
                padding: 30px;
                h3,h2,p{
                    margin: 15px;
                }
                .paje-1{
                    @include flexj-Center;
                    h2{
                        margin: 0 0;
                        color: #5926c0;
                        font-size: 40px;
                    }
                    .paje-2{
                        margin: 0 0;
                        p:first-child{
                            color: #5926c0;
                            display: flex;
                        }
                        p{
                            margin: 0 0;
                            color: #5a5759;
                        }
                    }
                }
                button{
                    @include bottonWhite ;
                }
                button:hover{
                    background-color: orange;
                    color: $ColorTextW;
                }
            }
        }
    }
}
.main-box-center-5{
    background-color: $Back-G-main-Color;
    .main-box-center{
        @include container-center;
        .main-box-text{
            @include flexj-Center;
            .text{
                text-align: center;
                width: 41%;
                padding: 50px;
            }
        }
        .box-card{
            @include flexj-Center;
            .card{
                height: 350px;
                width: 300px;
                margin: 0 15px;
                text-align: center;
            }
            .box-img{
                height: 170px;
                img{
                    height: 100%;
                    width: 100%;
                }              
            }
            h4{
                color: orange;
                margin: 15px;
            }
        }
    }
    .main-button-center{
        @include flexj-a-Center ;
        height: 100px;
        button{
            @include buttonOrange;
        }
    }
}
.main-box-center-6{
    padding: 50px;
    .main-box-center{
        @include container-center;
        .main-box-text{
            @include flexj-Center;
            border-bottom: 1px solid gray;
            .text{
                text-align: center;
                width: 41%;
                padding: 50px;
            }
            h1{

            }
            img{
                border-radius: 50%;
                margin: 35px;
            }
            p{
                margin: 15px;
            }
        }
        .container-slider{
            margin: 30px;
            @include flexj-a-Center;

            .box-img-s{
                height: 150px;
                width: 150px;
                margin: auto;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
.main-box-center-7{
    display: flex;
    height: 500px;
    background-image: url($bkgimg);
    background-size: cover;
    .main-box-center{
        @include container-center;
        .main-box-text{
            @include flexj-Center;       
            .text{
                text-align: center;
                width: 42%;
                padding: 50px;
                color: $ColorTextW;
            }
            h1{
    
            }
            p{
                margin: 40px;
            }
            button{
                @include buttonOrange;
            }
        }
    }
}
//footer
.footer-container{
   color: gray;
    .footer-container-center{       
        @include container-center;
        .footer-logo,.footer-nav,.footer-copy,.footer-social{
            @include flexj-Center;
            margin: 50px;
             ul{
                display: flex;
                list-style: none;
                li{
                    margin: 0 15px;
                    cursor: pointer;
                }
            }
        }
        .footer-nav{
             ul{
                li:hover{
                    color: $HoverOrange;
                }
            }
        }  
    }
}