//colelgamento degli altri file
@import"colors";
@import"variables";
//color
*{
   @include body-margin;
}
.container{
    min-width: 1200px;
    background-image: url($backGraundHeader);
    background-size: cover;
    background-repeat: no-repeat;
    &-margin-center{
        @include container-center;
      
       .container-nav{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
           .container-logo{

           }
           .container-link{
               display: flex;
               align-items: center;
               ul{
                   cursor: pointer;
                   color: $ColorTextW;
                   display: flex;
                   list-style: none;
                   margin: 0 15px;
                   li{
                       margin: 0 20px;
                       p:hover{
                           color: $HoverOrange;
                       }
                   }
                   button{
                    @include buttonOrange;
                   }
               }
           }
       }
    }
    .container-header{
        height: 739px;
        display: flex;
        align-items: center;
        .container-box{
            width: 35%;
            color: $ColorTextW;
                h1{
                   
                }
                p{
                    margin: 20px 0
                }
            .box-button{
                margin: 30px 0;
                .one{
                    @include buttonOrange;
                    margin-right: 15px;

                }
                .two{
                    @include buttonPurpol;
                }
            }
        }
    }
}
.containere-main-box{
    background-color: $Back-G-main-Color;
    .main-box-center{
        @include container-center;
        .main-box-one{
            display: flex;
            justify-content: center;
            .box-text-center-main{
                width: 43%;
                text-align: center;
                padding-top: 100px;
                h1{
                    margin-bottom: 25px;
                }
                p{

                }
            }
        }
        .main-box-two{
            display: flex;
            margin: 35px;
            padding: 35px;
            .main-mini-box{
                height: 300px;
                width: 300px;
                background-color:$ColorTextW;
                margin: 0 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                i{
                    font-size: 20px;
                    color: $HoverOrange;
                }
                h1{
                    margin: 18px;
                }
                p{

                }
            }
        
        }
        .main-box-three{
            height: 500px;
            background-image: url($backGraund-Main-box);
            
          
        }
       
    }
}