@mixin body-margin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin container-center{
    width: 1200px;
    margin: auto;
}

//backgraun image

$backGraundHeader:"../images/1-hero-image.png";
$backGraund-Main-box:"../images/agency-seo-desk-front-1200x570.jpg";
$elementMainBKG:'../images/pattern_background.png';
$elementMainBKG2:'../images/background1.jpg';
$bkgimg:'../images/CTA-seo-1.jpg';
$bkgTrasparent:'../images/transparent.png';

//button
@mixin buttonOrange{
    background-color: #ffa837;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
@mixin buttonPurpol{
    background-color: #5926c0;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
@mixin bottonWhite {
    height: 30px;
    border-radius: 15px;
    width: 130px;
    background-color: white;
    border: 1px solid;
    cursor: pointer;
}
@mixin flexA-Center {
    display: flex;
    align-items: center;
    // @include flexA-Center;
    
}
@mixin flexj-Center {
    display: flex;
    justify-content: center;
    // @include flexj-Center;
    
}
@mixin flexj-a-Center {
    display: flex;
    justify-content: center;
    align-items: center;
    // @include flexj-a-Center;
    
}

