@mixin body-margin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin contaienr-senter{
    width: 1200px;
    margin: auto;
}

//backgraun image

$backGraundHeader:"../images/1-hero-image.png";

//button
@mixin buttonOrange{
    background-color: #ffa837;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
@mixin buttonPurpol{
    background-color: #5926c0;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
